{% extends "layout.html" %}
{% block title %} Editar Contacto {% endblock %}
{% block body %}
<div class="col-md-4 offset-md-4">
    <h4 class="pt-2" style="text-align:center;">EDITAR CONTACTO</h4>
    <div class="card card-body">
        <form action="/update_contact/{{contact.0}}" method="POST">
            <div class="form-group">
                <input type="text" name="nombre" placeholder="Nombre" value="{{contact.1}}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="apellido" placeholder="Apellido" value="{{contact.2}}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="correo" placeholder="Correo" value="{{contact.3}}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="telefono" placeholder="Telefono" value="{{contact.4}}" class="form-control">
            </div>
            <div class="form-group pt-2 d-grid gap-2">
                <button type="submit" class="btn btn-success btn-block btn-lg">Guardar</button>
            </div>
        </form>
    </div>
</div>


   
    
    

{% endblock %}

