{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        {%endwith%}
        <div class="card card-body">
            <form action="/add_contact" method="POST">
                
                <div class="input-group flex-nowrap">
                    
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control">    
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" placeholder="Apellido" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="correo" placeholder="Correo" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="telefono" placeholder="Telefono" class="form-control">
                </div> 
                <div class="form-group pt-3 d-grid gap-2" >
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Registrar</button>
                </div>
                
            </form>
        </div>   
    </div>
    <div class="col-md-7">
        <div class="card card-body">
            <table class="table table-white table-hover">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Correo</td>
                        <td>Telefono</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>    
                    
                    {% for contact in contacts %}
                        <tr>
                            <td>{{contact.1}}</td>
                            <td>{{contact.2}}</td>
                            <td>{{contact.3}}</td>
                            <td>{{contact.4}}</td>
                            <td>
                                <a href="/edit_contact/{{contact.0}}" class="btn btn-secondary btn-sm">Editar</a> | 
                                <a href="/delete_contact/{{contact.0}}" class="btn btn-danger btn-sm btn-delete">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}






